fastapi[standard]>=0.118
bcrypt>=5.0
rapidfuzz>=3.14.1
python-jose>=3.5.0
pydantic-settings>=2.11.0
SQLAlchemy>=2.0.43
psycopg>=3.2.10
# psycopg2-binary>=2.9.10
fastapi-limiter>=0.1.6
redis[hiredis]>=6.4.0
pytest>=8.4.2